<br>
<br>
<br>

<h6><strong>2 Comments</strong></h6>
<hr />

<div class="col-sm-12 comments-box">
  <p><strong>Username</strong>
    <small class="text-muted" style="margin-left: 5px">Sun, 31 Oct 2021 19:46</small>
  </p>
  <div class="dialogbox">
    <span class="tip tip-up"></span>
    <div class="message">
      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </div>
  </div>
  <br />
  <p><strong>Username</strong>
    <small class="text-muted" style="margin-left: 5px;">Fri, 29 Oct 2021 15:30</small>
  </p>
  <div class="dialogbox">
    <span class="tip tip-up"></span>
    <div class="message">
      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </div>
  </div>
</div>