<div style="margin-top: 150px;">

<h2 class="text-center" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"> Welcome to Lost & Found Pets</h2>
<hr />

<br />
<br />
  <div class="card-group">
  <div class="col-sm-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">Report</h5>
          <p class="card-text">If you want to see lost pets just click this link below.</p>
          
          <div class="container">
            <%= link_to 'Lost Pets' , new_pet_path, {:style=>'color:#000000;', :class => "btn btn-info"}%>
            <%= link_to 'Found Pets' , "", {:style=>'color:#000000; float:right; ', :class => "btn btn-warning"}%>
          </div>
        </div>
      </div>
    </div>



    <div class="col-sm-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">Browse</h5>
          <p class="card-text">If you want to see found pets just click this link below.</p>

          <div class="container">
            <%= link_to 'All Pets' , pets_path, {:style=>'color:#000000;', :class => "btn btn-warning"}%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">Google Map</h5>
          <p class="card-text">You can see all lost and found pets, just click this link below.</p>
          
          <div class="container">
            <a href="https://www.google.com/maps" target="_blank" class="btn btn-warning" style="color: rgb(0, 0, 0);">Show On Map</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>