<div style="margin-top: 50px;">

<h2 class="text-center" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"> Welcome to Paw Searchers</h2>

<hr />

<br />
<br />
<header>
  <div class="card-group">
  <div class="col-sm-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">Report</h5>
          <p class="card-text">To report lost and found pets or abused strays, just click on the box below.</p>
          
          <div class="container">
            <%= link_to 'Lost Pets' , new_pet_path, style: 'color:#000000; font-weight:bold;', :class => "btn btn-danger" %>
            <%= link_to 'Found Pets' , "", style:'color:#000000; float:right; font-weight:bold', :class => "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">Browse</h5>
          <p class="card-text">To browse lost and found pets or abused strays, just click on the box below.</p>

          <div class="container">
            <%= link_to 'All Pets' , pets_path, style: 'color:#000000;'"position:relative; left:80px; top:2px; font-weight:bold;", :class => "btn btn-warning" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">Google Map</h5>
          <p class="card-text">View the location of lost and found pets or abused strays, just click on the box below.</p>
          
          <div class="container">
            <a href="https://www.google.com/maps" target="_blank" class="btn btn-light" style="color: rgb(0, 0, 0);position:relative; left:60px; top:2px; font-weight: bold">Show On Map</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>