/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  font-size: 18px;
  margin: auto;
  font-family: "Libre Baskerville";
}

.table {
  text-align: center;
  font-family: Arial;
}

.authform {
  padding-top: 30px;
  max-width: 400px;
  margin: 0 auto;
  font-size: 18px;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 10px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}

.authform fieldset {
  @extend .well;
}

/* nav */
.navbar {
  background-color: rgb(24, 24, 24);
}

.navbar-nav {
  font-family: "Libre Baskerville";
  font-size: 18px;
  letter-spacing: 0.8px;
  font-family: monospace;
}
.nav-link {
  color: rgb(255, 230, 0);
}

.nav-link:hover {
  background-color: transparent;
  color: rgba(0, 140, 255, 0.87);
}

.navbar-brand:hover {
  background-color: transparent;
}

a:hover {
  background-color: transparent;
}
